{% extends 'base/base.html' %}
{% load compile_static %}
{% load static %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static "entry/style.less"|compile %}"/>
{% endblock style %}

{% block container %}

  確認画面

{% endblock container %}

{% block body %}
  {% include "contents/included.html" %}
  <dl>
    <dt>苗字</dt>
    <dd>
      {{form.kanji_last_name}}
    </dd>
    <dt>名前</dt>
    <dd>
      {{form.kanji_first_name}}
    </dd>
  </dl>

  <form action="{% url 'entry:complete' %}' " method="post">
    {% csrf_token %}
    <input type="submit" value="完了">
  </form>

  <a href="{% url 'entry:input' %}">return</a>
{% endblock body %}
