{% extends 'base/base.html' %}
{% load compile_static %}
{% load static %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'entry/style.less'|compile %}"/>
{% endblock style %}

{% block container %}

<form action="{% url 'entry:confirm' %}" method="post">
  {% csrf_token %}
  {% include "contents/entry/input/name.html" %}
  <input type="submit" value="確認画面へ"/>
</form>

{% endblock container %}

{% block body %}
  body - test
  {% include 'contents/included.html' %}
<ul>
  <li>te</li>
</ul>
{% endblock body %}
